*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    background-color:black;
    color: white;
    height: 100;
    width: 100;
    padding: 20px;
}
header {
    background: #50b3a2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin-bottom: 10px;
}
nav {
     background-color: antiquewhite;
        padding: 10px;
        text-align: center;
}
nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}
home.img {
    border-radius: 10px;
    width: 300px;
    height: 400px;
    object-fit: cover;
}

main {
    margin-bottom: 10px;
}
main h2 {
    color: #50b3a2;
    margin-bottom: 10px;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}